@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
$body-font-family: "Montserrat", Helvetica, Arial, serif;

$border-radius-root: 6px;
$font-size-root: 14px;

$btn-hover-opacity: 0.6;

$btn-font-weight: 650;

$btn-text-transform: capitalize;

// Variables must come before the import
// $btn-letter-spacing: 0;
// $btn-font-weight: 400;
// $list-item-title-font-size: 0.929rem;
// $list-item-dense-title-font-size: 0.929rem;
// $list-item-dense-title-font-weight: initial;